:root {
  --light_color: '------';
  --bg_color: #222831;
}

@keyframes lightOn {
  from {background-color: var(--bg_color)}
  to {background-color: var(--light_color)}
}

@keyframes lightOff {
  from {background-color: var(--light_color)}
  to {background-color: var(--bg_color)}
}

body {
  background-color: var(--bg_color);
}
